#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.card {
    padding: 2em;
}

.climate-container {
    align-items: center;
    background-color: #1a1a1a;
    border-radius: 25px;
    margin: 2em;
    padding: 1em;
    flex: 0 0 300px;
    max-width: 300px;
}

.row {
    align-items: center;
    justify-content: center;
    display: flex;
}

.temperature {
    font-size: 3em;
    padding: 0.5em;
}

.tracker-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.weather-icon {
    width: 7em;
}

.modal {
    padding: 2em;
    border-radius: 25px;
    border-color: #1a1a1a;
}

.modal p {
    font-size: large;
    color: rgba(255, 255, 255, 0.87);
}

.modal > form {
    margin: 1em;
    display: flex;
    flex-direction: column;
}

.modal button {
    margin: 0.7em;
    color: rgba(255, 255, 255, 0.87);
}

.climate-header {
    display: flex;
    justify-content: space-between;
}

.climate-header > h3 {
    padding-left: 25px;
}

.climate-header > button {
    transition: color 0.25s;
}

.climate-header > button:hover {
    border-color: rgba(255, 255, 255, 0);
    color: red;
}
.climate-header > button:focus,
.climate-header > button:focus-visible {
    outline: 0px;
}

@media only screen and (max-width: 600px) {
    .climate-container {
        align-items: center;
        margin: 1em;
        padding: 0.6em;
        flex: 0 0 250px;
        max-width: 250px;
    }
    .temperature {
        font-size: 2em;
        padding: 0.5em;
    }
    .weather-icon {
        width: 5em;
    }
}

@media (prefers-color-scheme: light) {
    .climate-container {
        align-items: center;
        background-color: #9aa6b2;
        border-radius: 25px;
        border: 2px #bcccdc solid;
        margin: 2em;
        padding: 1em;
        flex: 0 0 300px;
        max-width: 300px;
    }
    .tracker-container {
        border-radius: 25px;
    }
    .modal button {
        margin: 0.7em;
        color: #f8fafc;
        border: 2px #bcccdc solid;
    }

    .modal {
        padding: 2em;
        border-radius: 25px;
        border-color: #bcccdc;
    }

    .modal p {
        font-size: large;
        color: #f8fafc;
    }

    dialog {
        background-color: #9aa6b2;
    }

    #city-name {
        background-color: #d9eafd;
    }
}
